# Classifying Asteroids using Unsupervised Learning Methods

This project will explore different ways unsupervised learning can be used to classify asteroids, using the Nasa: Asteroids Classification dataset on Kaggle, found at URL: https://www.kaggle.com/datasets/lovishbansal123/nasa-asteroids-classification

Note that for this project, I chose to download the .csv file directly to my machine. I've prevented it from uploading to git using .gitignore. If you would like to replicate this code, you'll need to download the csv from the abovementioned kaggle link. 

This project required 3 deliverables:
1. This notebook
2. A video presentation (powerpoint slides will be available on Git)
3. A public GitHub repository, found here: https://github.com/Kate-Zilla/NASA-asteriod-classification 

# Problem Description
The goal of this project is to discover any latent structure among asteroid features, evaluate reconstruction quality across methods using RMSE, and examine clusters for interpretability. Understanding the structure of an asteroid can help with prioritization of additional observations as well as risk triage.

Import Statements:

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.spatial.distance import pdist, squareform
from scipy.sparse import coo_matrix, csr_matrix
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import TruncatedSVD, PCA, NMF
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import mean_squared_error, silhouette_score, pairwise_distances
from sklearn.model_selection import StratifiedKFold

from sklearn.feature_extraction.text import TfidfVectorizer

RANDOM_STATE = 42
np.random.seed(RANDOM_STATE)

pd.set_option('display.max_columns', 120)
sns.set_context("notebook")

Data Loading

In [2]:
df = pd.read_csv('nasa.csv')
df.head()

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),Est Dia in Feet(max),Close Approach Date,Epoch Date Close Approach,Relative Velocity km per sec,Relative Velocity km per hr,Miles per hour,Miss Dist.(Astronomical),Miss Dist.(lunar),Miss Dist.(kilometers),Miss Dist.(miles),Orbiting Body,Orbit ID,Orbit Determination Date,Orbit Uncertainity,Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,3703080,3703080,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,933.308089,1995-01-01,788947200000,6.115834,22017.003799,13680.509944,0.419483,163.178711,62753692.0,38993336.0,Earth,17,2017-04-06 08:36:37,5,0.025282,4.634,2458000.5,0.425549,1.407011,6.025981,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,J2000,True
1,3723955,3723955,21.3,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,1071.581063,1995-01-01,788947200000,18.113985,65210.346095,40519.173105,0.383014,148.992630,57298148.0,35603420.0,Earth,21,2017-04-06 08:32:49,3,0.186935,5.457,2458000.5,0.351674,1.107776,28.412996,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,J2000,False
2,2446862,2446862,20.3,0.231502,0.517654,231.502122,517.654482,0.143849,0.321655,759.521423,1698.341531,1995-01-08,789552000000,7.590711,27326.560182,16979.661798,0.050956,19.821890,7622911.5,4736657.5,Earth,22,2017-04-06 09:20:19,0,0.043058,4.557,2458000.5,0.348248,1.458824,4.237961,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,J2000,True
3,3092506,3092506,27.4,0.008801,0.019681,8.801465,19.680675,0.005469,0.012229,28.876199,64.569144,1995-01-15,790156800000,11.173874,40225.948191,24994.839864,0.285322,110.990387,42683616.0,26522368.0,Earth,7,2017-04-06 09:15:49,6,0.005512,5.093,2458000.5,0.216578,1.255903,7.905894,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,J2000,False
4,3514799,3514799,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,933.308089,1995-01-15,790156800000,9.840831,35426.991794,22012.954985,0.407832,158.646713,61010824.0,37910368.0,Earth,25,2017-04-06 08:57:58,1,0.034798,5.154,2458000.5,0.210448,1.225615,16.793382,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,J2000,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687 entries, 0 to 4686
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Neo Reference ID              4687 non-null   int64
 1   Name                          4687 non-null   int64
 2   Absolute Magnitude            4687 non-null   float64
 3   Est Dia in KM(min)            4687 non-null   float64
 4   Est Dia in KM(max)            4687 non-null   float64
 5   Est Dia in M(min)             4687 non-null   float64
 6   Est Dia in M(max)             4687 non-null   float64
 7   Est Dia in Miles(min)         4687 non-null   float64
 8   Est Dia in Miles(max)         4687 non-null   float64
 9   Est Dia in Feet(min)          4687 non-null   float64
 10  Est Dia in Feet(max)          4687 non-null   float64
 11  Close Approach Date           4687 non-null   object
 12  Epoch Date Close Approach     4687 non-null   int64
 13  Relative Velocity km per sec  4687 non-null   float64
 14  Relative Velocity km per hr   4687 non-null   float64
 15  Miles per hour                4687 non-null   float64
 16  Miss Dist.(Astronomical)      4687 non-null   float64
 17  Miss Dist.(lunar)             4687 non-null   float64
 18  Miss Dist.(kilometers)        4687 non-null   float64
 19  Miss Dist.(miles)             4687 non-null   float64
 20  Orbiting Body                 4687 non-null   object
 21  Orbit ID                      4687 non-null   int64
 22  Orbit Determination Date      4687 non-null   object
 23  Orbit Uncertainity            4687 non-null   int64
 24  Minimum Orbit Intersection    4687 non-null   float64
 25  Jupiter Tisserand Invariant   4687 non-null   float64
 26  Epoch Osculation              4687 non-null   float64
 27  Eccentricity                  4687 non-null   float64
 28  Semi Major Axis               4687 non-null   float64
 29  Inclination                   4687 non-null   float64
 30  Asc Node Longitude            4687 non-null   float64
 31  Orbital Period                4687 non-null   float64
 32  Perihelion Distance           4687 non-null   float64
 33  Perihelion Arg                4687 non-null   float64
 34  Aphelion Dist                 4687 non-null   float64
 35  Perihelion Time               4687 non-null   float64
 36  Mean Anomaly                  4687 non-null   float64
 37  Mean Motion                   4687 non-null   float64
 38  Equinox                       4687 non-null   object
 39  Hazardous                     4687 non-null   bool
dtypes: bool(1), float64(30), int64(5), object(4)
memory usage: 1.4+ MB

In [4]:
df.describe()

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),Est Dia in Feet(max),Epoch Date Close Approach,Relative Velocity km per sec,Relative Velocity km per hr,Miles per hour,Miss Dist.(Astronomical),Miss Dist.(lunar),Miss Dist.(kilometers),Miss Dist.(miles),Orbit ID,Orbit Uncertainity,Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion
count,4.687000e+03,4.687000e+03,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4.687000e+03,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4.687000e+03,4.687000e+03,4687.000000,4687.000000,4687.000000,4687.000000,4.687000e+03,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4687.000000,4.687000e+03,4687.000000,4687.000000
mean,3.272298e+06,3.272298e+06,22.267865,0.204604,0.457509,204.604203,457.508906,0.127135,0.284283,671.273653,1501.013521,1.179881e+12,13.970811,50294.919829,31251.307268,0.256778,99.886706,3.841347e+07,2.386902e+07,28.300619,3.516962,0.082320,5.056111,2.457724e+06,0.382569,1.400264,13.373844,172.157275,635.582076,0.813383,183.932151,1.987144,2.457728e+06,181.167927,0.738242
std,5.486011e+05,5.486011e+05,2.890972,0.369573,0.826391,369.573402,826.391249,0.229642,0.513496,1212.511199,2711.257465,1.981540e+11,7.293223,26255.601377,16314.209644,0.145798,56.715493,2.181110e+07,1.355279e+07,38.299668,3.078307,0.090300,1.237818,9.202975e+02,0.180444,0.524154,10.936227,103.276777,370.954727,0.242059,103.513035,0.951519,9.442264e+02,107.501623,0.342627
min,2.000433e+06,2.000433e+06,11.160000,0.001011,0.002260,1.010543,2.259644,0.000628,0.001404,3.315431,7.413530,7.889472e+11,0.335504,1207.814804,750.489149,0.000178,0.069194,2.660989e+04,1.653462e+04,1.000000,0.000000,0.000002,2.196000,2.450164e+06,0.007522,0.615920,0.014513,0.001941,176.557161,0.080744,0.006918,0.803765,2.450100e+06,0.003191,0.086285
25%,3.097594e+06,3.097594e+06,20.100000,0.033462,0.074824,33.462237,74.823838,0.020792,0.046493,109.784247,245.485039,1.015574e+12,8.432865,30358.313370,18863.475327,0.133420,51.900211,1.995928e+07,1.240212e+07,9.000000,0.000000,0.014585,4.049500,2.458000e+06,0.240858,1.000635,4.962341,83.081208,365.605031,0.630834,95.625916,1.266059,2.457815e+06,87.006918,0.453289
50%,3.514799e+06,3.514799e+06,21.900000,0.110804,0.247765,110.803882,247.765013,0.068850,0.153954,363.529809,812.877364,1.203062e+12,12.917889,46504.401181,28896.026390,0.265029,103.096123,3.964771e+07,2.463595e+07,16.000000,3.000000,0.047365,5.071000,2.458000e+06,0.372450,1.240981,10.311836,172.625393,504.947292,0.833153,189.761641,1.618195,2.457973e+06,185.718889,0.712946
75%,3.690060e+06,3.690060e+06,24.500000,0.253837,0.567597,253.837029,567.596853,0.157727,0.352688,832.798679,1862.194459,1.355558e+12,18.077649,65079.535405,40437.892430,0.384154,149.435921,5.746863e+07,3.570935e+07,31.000000,6.000000,0.123593,6.019000,2.458000e+06,0.512411,1.678364,19.511681,255.026909,794.195972,0.997227,271.777557,2.451171,2.458108e+06,276.531946,0.984669
max,3.781897e+06,3.781897e+06,32.100000,15.579552,34.836938,15579.552413,34836.938254,9.680682,21.646663,51114.018738,114294.420501,1.473318e+12,44.633747,160681.487851,99841.227826,0.499884,194.454910,7.478160e+07,4.646713e+07,611.000000,9.000000,0.477891,9.025000,2.458020e+06,0.960261,5.072008,75.406667,359.905890,4172.231343,1.299832,359.993098,8.983852,2.458839e+06,359.917991,2.039000

I am starting out here with 40 columns, and over 4600 data points. There are no null values. 

Our Target column will be 'Hazardous', which currently has either 'True' or 'False'. 

Below, I will display the unique values that exist in each column that has dtype == object.

In [5]:
for c in df.columns:
    if df[c].dtype == 'object':
        print(c, df[c].unique())

Close Approach Date ['1995-01-01' '1995-01-08' '1995-01-15' '1995-01-22' '1995-02-08'
 '1995-02-15' '1995-02-22' '1995-03-08' '1995-03-15' '1995-03-22'
 '1995-04-08' '1995-04-15' '1995-04-22' '1995-05-08' '1995-05-15'
 '1995-05-22' '1995-06-08' '1995-06-15' '1995-06-22' '1995-07-08'
 '1995-07-15' '1995-07-22' '1995-08-08' '1995-08-15' '1995-08-22'
 '1995-09-08' '1995-09-15' '1995-09-22' '1995-10-08' '1995-10-15'
 '1995-10-22' '1995-11-08' '1995-11-15' '1995-11-22' '1995-12-08'
 '1995-12-15' '1995-12-22' '1996-01-08' '1996-01-15' '1996-01-22'
 '1996-02-08' '1996-02-15' '1996-02-22' '1996-03-08' '1996-03-22'
 '1996-04-08' '1996-04-15' '1996-04-22' '1996-05-08' '1996-05-15'
 '1996-05-22' '1996-06-08' '1996-06-15' '1996-06-22' '1996-07-08'
 '1996-07-15' '1996-07-22' '1996-08-08' '1996-08-15' '1996-08-22'
 '1996-09-08' '1996-09-15' '1996-09-22' '1996-10-08' '1996-10-15'
 '1996-10-22' '1996-11-08' '1996-11-15' '1996-11-22' '1996-12-08'
 '1996-12-15' '1996-12-22' '1997-01-08' '1997-01-15' '1997-01-22'
 '1997-02-08' '1997-02-15' '1997-02-22' '1997-03-08' '1997-03-15'
 '1997-03-22' '1997-04-08' '1997-04-15' '1997-04-22' '1997-05-08'
 '1997-05-15' '1997-05-22' '1997-06-08' '1997-06-15' '1997-06-22'
 '1997-07-08' '1997-07-15' '1997-07-22' '1997-08-08' '1997-08-15'
 '1997-08-22' '1997-09-08' '1997-09-15' '1997-09-22' '1997-10-08'
 '1997-10-15' '1997-10-22' '1997-11-08' '1997-11-15' '1997-11-22'
 '1997-12-08' '1997-12-15' '1997-12-22' '1998-01-08' '1998-01-15'
 '1998-01-22' '1998-02-08' '1998-02-15' '1998-02-22' '1998-03-08'
 '1998-03-15' '1998-03-22' '1998-04-08' '1998-04-15' '1998-04-22'
 '1998-05-08' '1998-05-15' '1998-05-22' '1998-06-08' '1998-06-15'
 '1998-06-22' '1998-07-08' '1998-07-15' '1998-08-08' '1998-08-15'
 '1998-08-22' '1998-09-08' '1998-09-15' '1998-09-22' '1998-10-08'
 '1998-10-15' '1998-10-22' '1998-11-08' '1998-11-15' '1998-11-22'
 '1998-12-08' '1998-12-15' '1998-12-22' '1999-01-08' '1999-01-15'
 '1999-01-22' '1999-02-08' '1999-02-15' '1999-02-22' '1999-03-08'
 '1999-03-15' '1999-03-22' '1999-04-08' '1999-04-15' '1999-04-22'
 '1999-05-15' '1999-05-22' '1999-06-08' '1999-06-15' '1999-06-22'
 '1999-07-08' '1999-07-15' '1999-07-22' '1999-08-08' '1999-08-15'
 '1999-08-22' '1999-09-08' '1999-09-15' '1999-09-22' '1999-10-08'
 '1999-10-15' '1999-10-22' '1999-11-08' '1999-11-15' '1999-11-22'
 '1999-12-08' '1999-12-15' '1999-12-22' '2000-01-08' '2000-01-15'
 '2000-01-22' '2000-02-08' '2000-02-15' '2000-02-22' '2000-03-15'
 '2000-03-22' '2000-04-08' '2000-04-15' '2000-04-22' '2000-05-08'
 '2000-05-15' '2000-05-22' '2000-06-08' '2000-06-15' '2000-06-22'
 '2000-07-08' '2000-07-15' '2000-07-22' '2000-08-08' '2000-08-15'
 '2000-08-22' '2000-09-08' '2000-09-15' '2000-09-22' '2000-10-08'
 '2000-10-15' '2000-10-22' '2000-11-08' '2000-11-15' '2000-11-22'
 '2000-12-08' '2000-12-15' '2000-12-22' '2001-01-08' '2001-01-15'
 '2001-01-22' '2001-02-08' '2001-02-15' '2001-02-22' '2001-03-08'
 '2001-03-15' '2001-03-22' '2001-04-08' '2001-04-15' '2001-04-22'
 '2001-05-08' '2001-05-15' '2001-05-22' '2001-06-08' '2001-06-15'
 '2001-06-22' '2001-07-08' '2001-07-15' '2001-07-22' '2001-08-08'
 '2001-08-15' '2001-08-22' '2001-09-08' '2001-09-15' '2001-09-22'
 '2001-10-08' '2001-10-15' '2001-10-22' '2001-11-08' '2001-11-15'
 '2001-11-22' '2001-12-08' '2001-12-15' '2001-12-22' '2002-01-08'
 '2002-01-15' '2002-01-22' '2002-02-08' '2002-02-15' '2002-02-22'
 '2002-03-08' '2002-03-15' '2002-03-22' '2002-04-08' '2002-04-15'
 '2002-04-22' '2002-05-08' '2002-05-15' '2002-05-22' '2002-06-08'
 '2002-06-15' '2002-06-22' '2002-07-08' '2002-07-15' '2002-07-22'
 '2002-08-08' '2002-08-15' '2002-08-22' '2002-09-08' '2002-09-15'
 '2002-09-22' '2002-10-08' '2002-10-15' '2002-10-22' '2002-11-08'
 '2002-11-15' '2002-11-22' '2002-12-08' '2002-12-15' '2002-12-22'
 '2003-01-08' '2003-01-15' '2003-01-22' '2003-02-08' '2003-02-15'
 '2003-02-22' '2003-03-08' '2003-03-15' '2003-03-22' '2003-04-08'
 '2003-04-15' '2003-04-22' '2003-05-08' '2003-05-15' '2003-05-22'
 '2003-06-08' '2003-06-15' '2003-06-22' '2003-07-08' '2003-07-15'
 '2003-07-22' '2003-08-08' '2003-08-15' '2003-08-22' '2003-09-08'
 '2003-09-15' '2003-09-22' '2003-10-08' '2003-10-15' '2003-10-22'
 '2003-11-08' '2003-11-15' '2003-11-22' '2003-12-08' '2003-12-15'
 '2003-12-22' '2004-01-08' '2004-01-15' '2004-01-22' '2004-02-08'
 '2004-02-15' '2004-02-22' '2004-03-08' '2004-03-15' '2004-03-22'
 '2004-04-08' '2004-04-15' '2004-04-22' '2004-05-08' '2004-05-15'
 '2004-05-22' '2004-06-08' '2004-06-15' '2004-06-22' '2004-07-08'
 '2004-07-15' '2004-07-22' '2004-08-08' '2004-08-15' '2004-08-22'
 '2004-09-08' '2004-09-15' '2004-09-22' '2004-10-08' '2004-10-15'
 '2004-10-22' '2004-11-08' '2004-11-15' '2004-11-22' '2004-12-08'
 '2004-12-15' '2004-12-22' '2005-01-08' '2005-01-15' '2005-01-22'
 '2005-02-08' '2005-02-15' '2005-02-22' '2005-03-08' '2005-03-15'
 '2005-03-22' '2005-04-08' '2005-04-15' '2005-04-22' '2005-05-08'
 '2005-05-15' '2005-05-22' '2005-06-08' '2005-06-15' '2005-06-22'
 '2005-07-15' '2005-07-22' '2005-08-08' '2005-08-15' '2005-08-22'
 '2005-09-08' '2005-09-15' '2005-09-22' '2005-10-08' '2005-10-15'
 '2005-10-22' '2005-11-08' '2005-11-15' '2005-11-22' '2005-12-08'
 '2005-12-15' '2005-12-22' '2006-01-08' '2006-01-15' '2006-01-22'
 '2006-02-08' '2006-02-15' '2006-02-22' '2006-03-08' '2006-03-15'
 '2006-03-22' '2006-04-08' '2006-04-15' '2006-04-22' '2006-05-08'
 '2006-05-15' '2006-05-22' '2006-06-08' '2006-06-15' '2006-06-22'
 '2006-07-08' '2006-07-15' '2006-07-22' '2006-08-08' '2006-08-15'
 '2006-08-22' '2006-09-08' '2006-09-15' '2006-09-22' '2006-10-08'
 '2006-10-15' '2006-10-22' '2006-11-08' '2006-11-15' '2006-11-22'
 '2006-12-08' '2006-12-15' '2006-12-22' '2007-01-08' '2007-01-15'
 '2007-01-22' '2007-02-08' '2007-02-15' '2007-02-22' '2007-03-08'
 '2007-03-15' '2007-03-22' '2007-04-08' '2007-04-15' '2007-04-22'
 '2007-05-08' '2007-05-15' '2007-05-22' '2007-06-08' '2007-06-15'
 '2007-06-22' '2007-07-08' '2007-07-15' '2007-07-22' '2007-08-08'
 '2007-08-15' '2007-08-22' '2007-09-08' '2007-09-15' '2007-09-22'
 '2007-10-08' '2007-10-15' '2007-10-22' '2007-11-08' '2007-11-15'
 '2007-11-22' '2007-12-08' '2007-12-15' '2007-12-22' '2008-01-08'
 '2008-01-15' '2008-01-22' '2008-02-08' '2008-02-15' '2008-02-22'
 '2008-03-08' '2008-03-15' '2008-03-22' '2008-04-08' '2008-04-15'
 '2008-04-22' '2008-05-08' '2008-05-15' '2008-05-22' '2008-06-08'
 '2008-06-15' '2008-06-22' '2008-07-08' '2008-07-15' '2008-07-22'
 '2008-08-08' '2008-08-15' '2008-08-22' '2008-09-08' '2008-09-15'
 '2008-09-22' '2008-10-08' '2008-10-15' '2008-10-22' '2008-11-08'
 '2008-11-15' '2008-11-22' '2008-12-08' '2008-12-15' '2008-12-22'
 '2009-01-08' '2009-01-15' '2009-01-22' '2009-02-08' '2009-02-15'
 '2009-02-22' '2009-03-08' '2009-03-15' '2009-03-22' '2009-04-08'
 '2009-04-15' '2009-04-22' '2009-05-08' '2009-05-15' '2009-05-22'
 '2009-06-08' '2009-06-15' '2009-06-22' '2009-07-08' '2009-07-15'
 '2009-07-22' '2009-08-08' '2009-08-15' '2009-08-22' '2009-09-08'
 '2009-09-15' '2009-09-22' '2009-10-08' '2009-10-15' '2009-10-22'
 '2009-11-08' '2009-11-15' '2009-11-22' '2009-12-08' '2009-12-15'
 '2009-12-22' '2010-01-08' '2010-01-15' '2010-01-22' '2010-02-08'
 '2010-02-15' '2010-02-22' '2010-03-08' '2010-03-15' '2010-03-22'
 '2010-04-08' '2010-04-15' '2010-04-22' '2010-05-08' '2010-05-15'
 '2010-05-22' '2010-06-08' '2010-06-15' '2010-06-22' '2010-07-08'
 '2010-07-15' '2010-07-22' '2010-08-08' '2010-08-15' '2010-08-22'
 '2010-09-08' '2010-09-15' '2010-09-22' '2010-10-08' '2010-10-15'
 '2010-10-22' '2010-11-08' '2010-11-15' '2010-11-22' '2010-12-08'
 '2010-12-15' '2010-12-22' '2011-01-08' '2011-01-15' '2011-01-22'
 '2011-02-08' '2011-02-15' '2011-02-22' '2011-03-08' '2011-03-15'
 '2011-03-22' '2011-04-08' '2011-04-15' '2011-04-22' '2011-05-08'
 '2011-05-15' '2011-05-22' '2011-06-08' '2011-06-15' '2011-06-22'
 '2011-07-08' '2011-07-15' '2011-07-22' '2011-08-08' '2011-08-15'
 '2011-08-22' '2011-09-08' '2011-09-15' '2011-09-22' '2011-10-08'
 '2011-10-15' '2011-10-22' '2011-11-08' '2011-11-15' '2011-11-22'
 '2011-12-08' '2011-12-15' '2011-12-22' '2012-01-08' '2012-01-15'
 '2012-01-22' '2012-02-08' '2012-02-15' '2012-02-22' '2012-03-08'
 '2012-03-15' '2012-03-22' '2012-04-08' '2012-04-15' '2012-04-22'
 '2012-05-08' '2012-05-15' '2012-05-22' '2012-06-08' '2012-06-15'
 '2012-06-22' '2012-07-08' '2012-07-15' '2012-07-22' '2012-08-08'
 '2012-08-15' '2012-08-22' '2012-09-08' '2012-09-15' '2012-09-22'
 '2012-10-08' '2012-10-15' '2012-10-22' '2012-11-08' '2012-11-15'
 '2012-11-22' '2012-12-08' '2012-12-15' '2012-12-22' '2013-01-08'
 '2013-01-15' '2013-01-22' '2013-02-08' '2013-02-15' '2013-02-22'
 '2013-03-08' '2013-03-15' '2013-03-22' '2013-04-08' '2013-04-15'
 '2013-04-22' '2013-05-08' '2013-05-15' '2013-05-22' '2013-06-08'
 '2013-06-15' '2013-06-22' '2013-07-08' '2013-07-15' '2013-07-22'
 '2013-08-08' '2013-08-15' '2013-08-22' '2013-09-08' '2013-09-15'
 '2013-09-22' '2013-10-08' '2013-10-15' '2013-10-22' '2013-11-08'
 '2013-11-15' '2013-11-22' '2013-12-08' '2013-12-15' '2013-12-22'
 '2014-01-08' '2014-01-15' '2014-01-22' '2014-02-08' '2014-02-15'
 '2014-02-22' '2014-03-08' '2014-03-15' '2014-03-22' '2014-04-08'
 '2014-04-15' '2014-04-22' '2014-05-08' '2014-05-15' '2014-05-22'
 '2014-06-08' '2014-06-15' '2014-06-22' '2014-07-08' '2014-07-15'
 '2014-07-22' '2014-08-08' '2014-08-15' '2014-08-22' '2014-09-08'
 '2014-09-15' '2014-09-22' '2014-10-08' '2014-10-15' '2014-10-22'
 '2014-11-08' '2014-11-15' '2014-11-22' '2014-12-08' '2014-12-15'
 '2014-12-22' '2015-01-08' '2015-01-15' '2015-01-22' '2015-02-08'
 '2015-02-15' '2015-02-22' '2015-03-08' '2015-03-15' '2015-03-22'
 '2015-04-08' '2015-04-15' '2015-04-22' '2015-05-08' '2015-05-15'
 '2015-05-22' '2015-06-08' '2015-06-15' '2015-06-22' '2015-07-08'
 '2015-07-15' '2015-07-22' '2015-08-08' '2015-08-15' '2015-08-22'
 '2015-09-08' '2015-09-15' '2015-09-22' '2015-10-08' '2015-10-15'
 '2015-10-22' '2015-11-08' '2015-11-15' '2015-11-22' '2015-12-08'
 '2015-12-15' '2015-12-22' '2016-01-08' '2016-01-15' '2016-01-22'
 '2016-02-08' '2016-02-15' '2016-02-22' '2016-03-08' '2016-03-15'
 '2016-03-22' '2016-04-08' '2016-04-15' '2016-04-22' '2016-05-08'
 '2016-05-15' '2016-05-22' '2016-06-08' '2016-06-15' '2016-06-22'
 '2016-07-08' '2016-07-15' '2016-07-22' '2016-08-08' '2016-08-15'
 '2016-08-22' '2016-09-08']
Orbiting Body ['Earth']
Orbit Determination Date ['2017-04-06 08:36:37' '2017-04-06 08:32:49' '2017-04-06 09:20:19' ...
 '2017-04-06 08:23:43' '2017-04-06 08:23:42' '2017-04-29 06:18:33']
Equinox ['J2000']

I will immediate drop the Orbiting Body & Equinox columns as they are constant.

In [6]:
df = df.drop(['Orbiting Body','Equinox'],axis=1)
df.head(2)

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),Est Dia in Feet(max),Close Approach Date,Epoch Date Close Approach,Relative Velocity km per sec,Relative Velocity km per hr,Miles per hour,Miss Dist.(Astronomical),Miss Dist.(lunar),Miss Dist.(kilometers),Miss Dist.(miles),Orbit ID,Orbit Determination Date,Orbit Uncertainity,Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Hazardous
0,3703080,3703080,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,933.308089,1995-01-01,788947200000,6.115834,22017.003799,13680.509944,0.419483,163.178711,62753692.0,38993336.0,17,2017-04-06 08:36:37,5,0.025282,4.634,2458000.5,0.425549,1.407011,6.025981,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,True
1,3723955,3723955,21.3,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,1071.581063,1995-01-01,788947200000,18.113985,65210.346095,40519.173105,0.383014,148.992630,57298148.0,35603420.0,21,2017-04-06 08:32:49,3,0.186935,5.457,2458000.5,0.351674,1.107776,28.412996,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,False

I want to see ALL the orbit determination dates, so I will display them here:

In [7]:
print(df['Orbit Determination Date'].unique)

<bound method Series.unique of 0       2017-04-06 08:36:37
1       2017-04-06 08:32:49
2       2017-04-06 09:20:19
3       2017-04-06 09:15:49
4       2017-04-06 08:57:58
               ...
4682    2017-04-06 08:24:07
4683    2017-04-06 08:23:58
4684    2017-04-06 08:23:43
4685    2017-04-06 08:23:42
4686    2017-04-29 06:18:33
Name: Orbit Determination Date, Length: 4687, dtype: object>

It appears they are all gathered in the same month of the same year, so I will drop that column as well

In [8]:
df = df.drop(['Orbit Determination Date'], axis=1)
df.head(2)

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),Est Dia in Feet(max),Close Approach Date,Epoch Date Close Approach,Relative Velocity km per sec,Relative Velocity km per hr,Miles per hour,Miss Dist.(Astronomical),Miss Dist.(lunar),Miss Dist.(kilometers),Miss Dist.(miles),Orbit ID,Orbit Uncertainity,Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Hazardous
0,3703080,3703080,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,933.308089,1995-01-01,788947200000,6.115834,22017.003799,13680.509944,0.419483,163.178711,62753692.0,38993336.0,17,5,0.025282,4.634,2458000.5,0.425549,1.407011,6.025981,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,True
1,3723955,3723955,21.3,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,1071.581063,1995-01-01,788947200000,18.113985,65210.346095,40519.173105,0.383014,148.992630,57298148.0,35603420.0,21,3,0.186935,5.457,2458000.5,0.351674,1.107776,28.412996,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,False

I am going to also drop the reference ID and name columns as they do not give me information ABOUT the asteroids. I will also drop columns consisting of redundant measurements: 
 - Est Dia im KM(min)
 - Est Dia in KM(max)
 - Est Dia in Miles(min)
 - Est Dia in Miles(max)
 - Est Dia in Feet(min)
 - Est Dia in Feet(max)

 (This leaves estimated diameter in meters)
 - Close Approach Date

 (This leaves Epoch Date Close Approach, which is the close apporach date in UNIX timestamp)
 - Relative Velocity km per hr
 - Miles per hour

 (This leaves Relative Velocity km per sec)
 - Miss Dist. (Astronomical)
 - Miss Dist. (kilometers)
 - Miss Dist. (miles)

 (This leaves Miss Dist. (lunar); LDs are the most appropriate unit for measuring asteroid distance from Earth)

In [9]:
df = df.drop(['Neo Reference ID','Name'],axis = 1)

df = df.drop(['Est Dia in KM(min)','Est Dia in KM(max)'],axis = 1)
df = df.drop(['Est Dia in Miles(min)','Est Dia in Miles(max)'],axis = 1)
df = df.drop(['Est Dia in Feet(min)','Est Dia in Feet(max)'],axis = 1)
df = df.drop(['Close Approach Date','Relative Velocity km per hr','Miles per hour'],axis = 1)
df = df.drop(['Miss Dist.(Astronomical)','Miss Dist.(kilometers)','Miss Dist.(miles)'],axis = 1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687 entries, 0 to 4686
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Absolute Magnitude            4687 non-null   float64
 1   Est Dia in M(min)             4687 non-null   float64
 2   Est Dia in M(max)             4687 non-null   float64
 3   Epoch Date Close Approach     4687 non-null   int64
 4   Relative Velocity km per sec  4687 non-null   float64
 5   Miss Dist.(lunar)             4687 non-null   float64
 6   Orbit ID                      4687 non-null   int64
 7   Orbit Uncertainity            4687 non-null   int64
 8   Minimum Orbit Intersection    4687 non-null   float64
 9   Jupiter Tisserand Invariant   4687 non-null   float64
 10  Epoch Osculation              4687 non-null   float64
 11  Eccentricity                  4687 non-null   float64
 12  Semi Major Axis               4687 non-null   float64
 13  Inclination                   4687 non-null   float64
 14  Asc Node Longitude            4687 non-null   float64
 15  Orbital Period                4687 non-null   float64
 16  Perihelion Distance           4687 non-null   float64
 17  Perihelion Arg                4687 non-null   float64
 18  Aphelion Dist                 4687 non-null   float64
 19  Perihelion Time               4687 non-null   float64
 20  Mean Anomaly                  4687 non-null   float64
 21  Mean Motion                   4687 non-null   float64
 22  Hazardous                     4687 non-null   bool
dtypes: bool(1), float64(19), int64(3)
memory usage: 810.3 KB